<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template 1</title>
  </head>

  <body>
    <h1 class="title">Template 1</h1>
    <p class="subtitle">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto expedita
      iure placeat delectus quae explicabo velit, ut tempora facilis neque,
      dolorum esse quidem, at tenetur perspiciatis? Laudantium ipsa obcaecati
      similique totam aliquid cumque ut quis ea, consectetur voluptatibus. Quae
      enim eligendi rerum, magnam, sed est dolore dolores esse laudantium
      doloribus corrupti error necessitatibus, pariatur a temporibus perferendis
      velit dolorem obcaecati ipsam odit ullam sequi minima in optio. Alias
      maxime autem, eum quis cumque voluptas quae, doloribus explicabo minima
      excepturi recusandae quasi quod illo ad fuga molestias ducimus quas vel
      nulla exercitationem maiores. Distinctio exercitationem blanditiis rerum
      veritatis rem soluta? Labore.
    </p>
  </body>
</html>
